<%= form_for [@b_list, @item] do |f| %>
  <%= f.text_field :name, placeholder: 'Name'%>
  <%= f.text_field :due_date, placeholder: 'Due Date' %>
  <%= f.text_field :location, placeholder: 'Location' %>
  <div class="center-align">
    <%= f.submit class: "waves-effect waves-light grey btn-large" %>
  </div>
<% end %>
