<h1><%= "#{@b_list.name}" %></h1>



<% if @items.any? %>
  <% @items.each do |item| %>
    <p>name: <%= item.name %></p>
    <p>Due Date: <%= item.due_date %></p>
    <p>location: <%= item.location %></p>
  <% end %>
<% else %>
  <%= link_to 'Add Item', new_b_list_item_path(@b_list) %>
<% end %>
  <%= link_to '|  Edit  |', edit_b_list_path(@b_list) %>
  <%= link_to '|  Edit List Items  |', edit_b_list_item_path(@b_list, @item) %>
