<div class="section">
  <div class="container">
    <h2 class="grey-text text-lighten-3"><%= "#{@b_list.name}" %></h2>
    <h5>
      <%= link_to '|  Add Item  |  ', new_b_list_item_path(@b_list) %>
      <%= link_to '|  Edit  |', edit_b_list_path(@b_list) %>
      <%= link_to '|  Delete Bucket  |', b_list_path(@b_list), method: :delete %>
    </h5>
  </div>
</div>
  <%= render(partial: 'formshow', locals: {b_list: @b_list}) %>
